<div class="container">
  <div class="text-and-button">
    <div class="fashion-paradice">
      <img
        src="assets/images/categories-cta/Browse Our Fashion Paradise!.svg"
      />
    </div>
    <div class="description">
      <img src="assets/images/categories-cta/Description.svg" />
    </div>
    <button alte-button>
      <span>Start Browsing</span>
      <img
        src="assets/images/categories-cta/White Arrow Right.svg"
        alt="White Arrow Right"
      />
    </button>
  </div>
  <div class="category-image">
    <img src="assets/images/categories-cta/Category Image.png" />
  </div>
</div>
