<alte-auth-head
  title="Successful Order"
  backgroundColor="var(--semantic-green-g100)"
/>

<div class="container status">
  <div class="content">
    <img src="assets/images/after payment/fail-order.png" alt="Fail" />

    <div class="title">Oops! There was an issue</div>

    <div class="message">
      Oops! There was a problem processing your order. Please review the details
      and try again.
    </div>

    <button
      class="checkout__checkout"
      alte-button
      block
      routerLink="/profile/orders"
    >
      Reorder
    </button>
  </div>
</div>
